@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Grand+Hotel&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&family=Public+Sans:wght@200;300&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --BrightCyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --font-family: public sans, sans-serif;
}
body {
  font-family: var(--font-family);
  text-transform: capitalize;
  max-width: 100%;
  overflow-x: hidden;
}
button {
  background: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
#phone {
  position: absolute;
  top: -7%;
  right: -5%;
}
#desktop-ameoba {
  position: relative;
  right: -8%;
  top: -15%;
}
p {
  color: var(--Grayish-Blue);
  padding-top: 1rem;
  padding-right: 0.5rem;
}
section {
  background-color: var(--Light-Grayish-Blue);
}
article {
  background-color: var(--Very-Light-Gray);
}
img {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
#card {
  border-radius: 0.75rem;
}
#footer {
  color: white;
  background-color: var(--Dark-Blue);
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
  transition: 0.2s all;
}
a:hover {
  color: var(--Lime-Green);
}
i {
  transition: 0.2s all;
}
i:hover {
  background-color: var(--Lime-Green);
}
.logo {
  background-color: white;
}
nav {
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  #phone {
    position: relative;
    top: 0;
    left: 20%;
  }
  #desktop-ameoba {
    position: relative;
    top: 0;
    right: 0;
  }
}
@media screen and (max-width: 576px) {
  .row {
    display: flex;
  }
}
